:root {
  --background-light: hsl(300, 100%, 100%);
  --background-medium: hsl(240, 25%, 98%);
  --background-dark: hsl(228, 45%, 98%);
  --text-color: hsl(0, 0%, 20%);
  --logo-darkblue: hsl(204, 100%, 37%);
  --logo-lightblue: hsl(198, 76%, 52%);
  // blues from the design:
  // --blue-dark: hsl(231, 68%, 55%);
  // --blue-light: hsl(229, 68%, 54%);
  --gray-ultralight: hsl(0, 0%, 90%);
  --gray-light: hsl(0, 0%, 74%);
  --gray-medium: hsl(0, 0%, 51%);
  --gray-dark: hsl(0, 0%, 31%);
}
